﻿<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Bu sayfaya erişemezsiniz</h2>
        <p>Lütfen Anasayfaya Dönün!</p>
        <hr />
        <p>
            <a asp-controller="Movies" asp-action="Index" class="btn btn-outline-primary" >Anasayfa</a>
        </p>
    </div>
</div>