﻿<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Hesabınız oluşturuldu</h2>
        <p>Şimdi hesabınıza giriş yapabilirsiniz.</p>
        <hr />
        <p>Teşekkürler!</p>
    </div>
</div>